<section id="blog_entries" class="post_index">
<h1>Listing posts</h1>
  <%= render @posts %>
  <%= paginate @posts %>
</section>
<br />

<% if can? :create, Post %>
<%= link_to 'New Post', new_post_path %>
<% end %>