// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post_body{
  margin-bottom:1.5em;
}

#post-content{
  padding:0 1.5em 0 1.5em;
}

#post-content h1{
  font-size:3em;
line-height:1;
margin-bottom:0;
padding-left: 0;
}